.gradient-color {
	background: #0804fc;
	background: linear-gradient(top, #d83c3c, #b03131);
	background: -moz-linear-gradient(top, #d83c3c, #b03131);
	background: -ms-linear-gradient(top, #d83c3c, #b03131);
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#d83c3c),
		to(#b03131)
	);
	border: solid 1px #850e01;
	box-shadow: 2px 2px 3px #661313;
}
.mine-color,
.btn-inner-search {
	background-color: #d83c3c;
}
.button-more::before {
	border-color: transparent #d83c3c;
}
.btn-go-search:active,
.btn-go-search:focus,
.btn-go-search:hover,
.button-more:hover,
.button-more:focus,
.button-more:hover {
	background-color: #c42f2f;
}
div.filter-sidebar .title,
.title.alone {
	border-bottom: 3px solid #d83c3c;
}
div.filter-sidebar .title span,
.title.alone span {
	border-bottom: 3px solid #8c0707;
}
